<% if @post.photos.attached? %>
  <div id="postPhotosCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <% @post.photos.each_with_index do |photo, index| %>
        <div class="carousel-item <%= 'active' if index.zero? %>">
          <%= image_tag photo, class: 'd-block w-100 img-fluid',style: "height: 1000px; object-fit: contain;", alt: "Photo #{index + 1}" %>
        </div>
      <% end %>
    </div>
    <% if @post.photos.count > 1 %>
      <button class="carousel-control-prev" type="button" data-bs-target="#postPhotosCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#postPhotosCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    <% end %>
  </div>

  <div class="row mt-3">
    <% @post.photos.each_with_index do |photo, index| %>
      <div class="col">
        <a href="#" data-bs-target="#postPhotosCarousel" data-bs-slide-to="<%= index %>" class="d-block">
          <%= image_tag photo, class: 'img-thumbnail',style: "height: 200px; object-fit: contain;", alt: "Thumbnail #{index + 1}" %>
        </a>
      </div>
    <% end %>
  </div>
<% else %>
  <p class="text-muted">No photos available for this post.</p>
<% end %>

<style>
    .carousel-control-prev,
    .carousel-control-next {
      width: 5%;
      opacity: 0.8;
    }
    .carousel-control-prev-icon,
    .carousel-control-next-icon {
      background-color: rgba(0, 0, 0, 0.5);
      background-size: 50% 50%;
      border-radius: 50%;
      width: 44px;
      height: 44px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .carousel-control-prev-icon::after,
    .carousel-control-next-icon::after {
      content: '';
      display: block;
      width: 20px;
      height: 20px;
      border-top: 3px solid white;
      border-left: 3px solid white;
    }
    .carousel-control-prev-icon::after {
      transform: rotate(-45deg);
      margin-left: 5px;
    }
    .carousel-control-next-icon::after {
      transform: rotate(135deg);
      margin-right: 5px;
    }
    .carousel-control-prev:hover .carousel-control-prev-icon,
    .carousel-control-next:hover .carousel-control-next-icon {
      background-color: rgba(0, 0, 0, 0.7);
    }
  </style>