<div class="modal" tabindex="-1" id="UserModal" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
      <%=render modal_content%>
  </div>
</div>
