// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
@import "_colors";


.header-navbar{
    height: 100px;
    background-color: white;
    border: 1px solid #d7dce2; /* Dark border */
    align-content: center;
    padding-left: 100px;
    padding-right: 100px;
  }

  .logo-link{
    display:block;
    color: $airbnb-color;
  }

  .btn-bell{
    color: $airbnb-color;
  }

  .btn-bell:hover{
    color: grey;
  }

 .hidden {
  display:none
 }

 .card-index {
  border: 1px solid white;
  color: black;
 }

 .card-title{
  color: blue
 }


 .card-img-top{
  width: 100%;
  height: 200px; /* Adjust the height as needed */
  object-fit: cover; /* Ensures the image covers the entire area without stretching */
}


.custom-size {
  width: 50px;
  height: 50px;
}

.profile-picture {
  width: 50px;  
  height: 50px; 
  border-radius: 50%; 
  object-fit: cover; 
}

.profile-avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}


.card-body {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-body.bg-light, .card-footer.bg-light {
  background-color: #95c6f7 !important; 
}

.custom-card {
  max-height: 400px; 
  overflow: hidden;
  border: none;
}
