.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar-nav {
    display: flex;
    justify-content: center;
    flex: 1;
  }
  
  .navbar-collapse {
    flex-grow: 0;
  }
  
  .container-fluid {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .mx-auto {
    margin-left: auto;
    margin-right: auto;
  }